var path = require('path');
var webpack = require('webpack');
var package = require('./package.json')

module.exports = {
  devtool: 'source-map',
  entry: [
    './index.js'
  ],
  output: {
    path: path.join(__dirname, 'dist'),
    filename: 'bundle.js'
  },
  plugins: [
    new webpack.DefinePlugin({
      'process.env': {
        'NAME': JSON.stringify(package.name),
        'VERSION': JSON.stringify(package.version),
        'NODE_ENV': JSON.stringify('production')
      }
    })
  ],
  module: {
    loaders: [{
      test: /\.js$/,
      loaders: ['babel'],
      include: [path.join(__dirname, 'index'), path.join(__dirname, 'app')]
    }, {
      test: /\.json$/,
      loaders: ['json'],
      include: [path.join(__dirname, 'node_modules')]
    }]
  }
};
